@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Master Campaining List";
}
<script src="~/Scripts/MasterScript.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <fieldset>
                <legend>Master Campaign Details</legend>
                <div class="table-responsive">
                    <table id="masterCampaignGrid" class="display compact table table-striped table-bordered table-hover dataTable" style="font-size:inherit;" role="grid"></table>
                </div>
            </fieldset>
        </div>
    </div>
</body>
</html>