@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome MRM</h1>



    <div class="row">
        <div class="col-md-4">
            <input type="button" class="btn btn-block btn-primary btn-lg" value="Master Campaign" onclick="location.href='@Url.Action("MasterCampaign", "MasterCampaign")'" />
           
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-block btn-primary btn-lg" value="Child Campaign" onclick="location.href='@Url.Action("ChildCampaign", "ChildCampaign")'" />
          
        </div>
        <div class="col-md-4">
          
            <input type="button" class="btn btn-block btn-primary btn-lg" value="Tactic Campaign" onclick="location.href='@Url.Action("TacticCampaign", "TacticCampaign")'" />
              
         </div>
    </div>

   
    
</div>





