@model MRM.ViewModel.MasterCampaignViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MasterCampaign";

}

<script src="~/Scripts/MasterScript.js"></script>

<div id="dvFormMasterCampaign">
        @Html.Partial("MasterCampaignForm", Model)
</div>

