<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>us.hanusoftware.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mrmlightapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mrmlightapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mrmlightapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mrmlightapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mrmlight.database.windows.net,1433;Initial Catalog=MRMDatabse;User ID=mrmadmin;Password=mrm@1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MRM.Database.Model.MRMContext, MRM.Database" MigrationConfiguration="MRM.Database.Migrations.Configuration, MRM.Database" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://us.hanusoftware.com/WebApp-mrmlightapp.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>1e7173e4-7fbc-44ac-9be3-bb29cb21899a</ADClientAPPID>
    <ADClientPassword>e15a3TG36KoU+CL2CAIe99x9XVEOyZdBXXuwgblM0is=</ADClientPassword>
    <ADReplyUrl>https://mrmlightapp.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ab52d4e5-9cc7-437a-bdda-f4239e145187</ADTenantId>
    <ADPostLogoutRedirectUri>https://mrmlightapp.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mrmlight.database.windows.net,1433;Initial Catalog=MRMDatabse;User ID=mrmadmin;Password=mrm@1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>