body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set table header color wide by default light gray */
.header-background-color {
    background-color: #428bca;
    color: #FFF;
}

.td-padding {
    padding: 2px;
}


#masterCampaignGrid th:nth-child(3) {
    width: 320px !important;
}

#masterCampaignGrid th:nth-child(2) {
    width: 100px !important;
}

#childCampaignGrid th:nth-child(3) {
    width: 320px !important;
}

#childCampaignGrid th:nth-child(2) {
    width: 100px !important;
}


#tacticCampaignGrid th:nth-child(3) {
    width: 320px !important;
}

#tacticCampaignGrid th:nth-child(2) {
    width: 100px !important;
}

table.display {
    table-layout: fixed;
    word-wrap: break-word;
}

.header-color {
    color: #001135;
}

/*a {
    color: #124191 !important;
}*/

.btnSignIn {
    font-weight: bold;
    color: #FFFFFF !important;
    margin-top: 10%;
}

.text-danger {
    color: #FF3154 !important;
}

.table tfoot > tr > td {
    padding: 8px !important;
    line-height: 1.428571429 !important;
    border-top: 1px solid #dddddd !important;
}

.btn-primary {
    background-color: #124191 !important;
}

.btn-primary:hover {
    background-color: #428bca !important;
}


.navbar-inverse {
    background-color: #124191 !important;
}

.pagination > .active > span:focus {
    background-color: #124191 !important;
}

label {
    color: #000000 !important;
}

body {
  color: #000000 !important;
}
.btn-danger {
  background-color: #FF3154 !important;
}
.footer-color {
    color: #000000 !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus 
{
    background-color: #d5e3ef !important;
}

a {
    color: #124191 !important;
   
}
.chosen-container-single .chosen-single {
    color: #444 !important;
     height: 32px !important;
}
