@model MRM.ViewModel.TacticCampaignViewModel
@{
    ViewBag.Title = "TacticCampaign";
}
<script src="~/Scripts/TacticsScript.js"></script>
<div id="dvFormTacticCampaign">
    @Html.Partial("TacticCampaignForm", Model);
</div>
