@model MRM.ViewModel.ChildCampaignViewModel
@{
    ViewBag.Title = "ChildCampaign";
}
<script src="~/Scripts/ChildScript.js"></script>
<div id="dvFormChildCampaign">
    @Html.Partial("ChildCampaignForm", Model);
</div>


